<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon_kutuphane"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon_kutuphane"
        android:supportsRtl="true"
        android:theme="@style/Theme.KütüphaneUygulaması"
        tools:targetApi="31">
        <activity
            android:name=".GizlilikPolitikasi"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".KitapID_Islem"
            android:exported="false" />
        <activity
            android:name=".KisiKitapIade"
            android:exported="false" />
        <activity
            android:name=".KitapTeslimAlmak"
            android:exported="false" />
        <activity
            android:name=".QR_KodTarama"
            android:exported="false" />
        <activity
            android:name=".TumKitaplar"
            android:exported="false" />
        <activity
            android:name=".KutuphaneDisindaKitaplar"
            android:exported="false" />
        <activity
            android:name=".KitapIDTakip"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.KütüphaneUygulaması.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>